/Bin/Debug/*.exe
/Bin/Debug/*.ilk
/Bin/Debug/*.pdb
/Bin/Debug/*.dll
/Bin/Debug/*.txt
/Bin/Release/*.exe
/Bin/Release/*.iobj
/Bin/Release/*.ipdb
/Bin/Release/*.pdb
/Bin/Release/*.dll
/Bin/x64/Debug/*.exe
/Bin/x64/Debug/*.ilk
/Bin/x64/Debug/*.pdb
/Bin/x64/Debug/*.dll
/Bin/x64/Debug/*.txt
/Bin/x64/Release/*.exe
/Bin/x64/Release/*.iobj
/Bin/x64/Release/*.ipdb
/Bin/x64/Release/*.pdb
/Bin/x64/Release/*.dll
/Lib/Debug/*.exp
/Lib/Debug/*.lib
/Lib/Release/*.exp
/Lib/Release/*.lib
/Lib/x64/Debug/*.exp
/Lib/x64/Debug/*.lib
/Lib/x64/Release/*.exp
/Lib/x64/Release/*.lib
/Plugins/RenderSystem_GL/x64
/Plugins/RenderSystem_GL/Debug
/Plugins/RenderSystem_GL/Release
/Plugins/ScriptSystem_Lua/x64
/Plugins/ScriptSystem_Lua/Debug
/Plugins/ScriptSystem_Lua/Release
/Samples/HideAndSeek/Release
/Samples/HideAndSeek/x64
/Samples/HideAndSeek/Debug
/.vs
/*.db
