/bin/Debug/*.exe
/bin/Debug/*.ilk
/bin/Debug/*.pdb
/bin/Debug/*.dll
/bin/Debug/*.txt
/bin/Release/*.exe
/bin/Release/*.iobj
/bin/Release/*.ipdb
/bin/Release/*.pdb
/bin/Release/*.dll
/bin/x64/Debug/*.exe
/bin/x64/Debug/*.ilk
/bin/x64/Debug/*.pdb
/bin/x64/Debug/*.dll
/bin/x64/Debug/*.txt
/bin/x64/Release/*.exe
/bin/x64/Release/*.iobj
/bin/x64/Release/*.ipdb
/bin/x64/Release/*.pdb
/bin/x64/Release/*.dll
/lib/Debug/*.exp
/lib/Debug/*.lib
/lib/Release/*.exp
/lib/Release/*.lib
/lib/x64/Debug/*.exp
/lib/x64/Debug/*.lib
/lib/x64/Release/*.exp
/lib/x64/Release/*.lib
/plugins/RenderSystem_GL/x64
/plugins/RenderSystem_GL/Debug
/plugins/RenderSystem_GL/Release
/plugins/ScriptSystem_lua/x64
/plugins/ScriptSystem_lua/Debug
/plugins/ScriptSystem_lua/Release
/proj.win32/Release
/proj.win32/x64
/proj.win32/Debug
/samples/HideAndSeek/Release
/samples/HideAndSeek/x64
/samples/HideAndSeek/Debug
/.vs
/*.db
